{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Mis Facturas</h2>
<div class="table-responsive">
    <table class="table table-striped">
	<table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Total con IVA</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    	{% for f in facturas %}
        <tr>
            <td>{{ f.id }}</td>
            <td>{{ f.cliente.nombre }}</td>
            <td>{{ f.fecha|date:"d/m/Y" }}</td>
            <td>${{ f.total_con_iva }}</td>
            <td>
            {% if factura.id %}  <!-- ✅ Verificación de seguridad -->
            <td>
            <a href="{% url 'factura:ver_factura_pdf' f.id %}" class="btn btn-sm btn-outline-primary"><i class="fas fa-file-pdf"></i>PDF</a>
            <a href="{% url 'factura:descargar_factura_xml' factura.id %}" class="btn btn-sm btn-outline-success"><i class="fas fa-file-code"></i>XML</a>
            <a href="{% url 'factura:editar_factura' f.id %}" class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i>Editar</a>
            <td>
            {% endif %}
        </tr>
    {% empty %}
        <tr><td colspan="5"class="text-center">No hay facturas.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
